@import '../../app/globalVariables.scss';
.carousel {
    padding-top: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    column-gap: 25px;
    
}
.main_picture {
    display: flex;
    column-gap: 10px;
}
.carousel_inner {
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center; 

    img {
        border-radius: 20px; 
        
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        outline: none;

        img {
            width: 45px;
            height: 45px;
            transition: transform 0.3s ease-in-out;
        }

        &:hover img {
            transform: scale(1.2); 
        }
    }
}