@import "../../app/globalVariables.scss";

.advantages {
  background: url("../../assets/Advantages/image\ 17.png");
  background-position: center;
  background-repeat: no-repeat;

  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

 

  .advantages__text {
    padding-top: 100px;
    padding-bottom: 123px;
  }

  .cards {
    width: 244px;
    height: 189px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
    background-color: white;

    img {
      margin-bottom: 15px;
      margin-top: 10px;
    }

    &:nth-child(1) img {
      width: 70px;
      height: 70px;
    }

    &:nth-child(2) img {
      width: 80px;
      height: 80px;
    }

    &:nth-child(3) img,
    &:nth-child(4) img,
    &:nth-child(5) img {
      width: 70px;
      height: 70px;
    }
  }

  .advantages__text_desc {
   

    ul {
      display: flex;
      column-gap: 15px;
    }

    p {
  
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: $black;
      text-align: center;
    }
  }
}