@import "../../app/globalVariables.scss";
.main {
  .main__text {
    padding-top: 140px;
    h1 {
      font-size: 80px;
      font-weight: 700;
      line-height: 88px;
      color: $white;
    }
    p {
      font-size: 25px;
      font-weight: 700;
      line-height: 35px;
      color: $white;
      margin-top: 12px;
      margin-bottom: 40px;
    }
  }
}
