$black: #414141; // just black color
$white: #fcfcfc; // just white color
$color1: #105BFB;  // gradient
$color2: #5061FF; // gradient
// linear-gradient(to right, $color1 0%, $color1 100%, $color2 100%, $color2 100%);
@mixin breackpoint($point) {
  @if $point==xxl {
    @media (max-width: 1600px) {
      @content;
    }
  } @else if $point==ms {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point==md {
    @media (max-width: 997px) {
      @content;
    }
  } @else if $point==sm {
    @media (max-width: 776px) {
      @content;
    }
  } @else if $point==xm {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point==xs {
    @media (max-width: 380px) {
      @content;
    }
  }
}
