@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.main_back{
  @apply bg-back bg-cover bg-center;
  height: 100vh;
}
.form_back{
  @apply bg-form bg-cover bg-center;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
