@import '../../app/globalVariables.scss';
.ourTeam {
  background-image: url("../../assets/OurTeam/image 16.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  h1 {
    font-size: 40px;
    line-height: 60px;
    color: $black;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .ourTeam__text {
    padding-top: 160px;
  }
  .ourTeam__text_desc {
    background: #FFFFFF;
    width: 533px;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
      color: $black;
    }
  }
}
